body {
}


#button {
    padding: 0 4em;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}


#button:hover {
    background-color: crimson;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(110, 229, 229);
}